@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ẩn thanh cuộn trên tất cả các trình duyệt */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari và các trình duyệt dựa trên WebKit */
}

